$color-header: #E6E6FA;
$color-dark: #171717;
$color-background: #CECECE;
$color-accent: rgb(72, 61, 139);
$color-form-bg: rgba(235, 235, 235, 0.8);
$color-shadow: rgba(23, 23, 23, 0.2);
$color-accent-transparent: rgba(72, 61, 139, 0.8);
$color-background2:  rgb(235, 235, 235);