header div.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url(../media/hero.jpg);
	background-color: $color-header;
	padding: 2%;
	margin: 0;
	height: 30vh;
}
