@import 'colors';
@import 'navigation';
@import 'header';
@import 'footer';

*, *:before, *:after { 
    box-sizing: border-box;
}

* {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    font-weight: lighter;
}
html {
    background-color: $color-background2;
}



body {
    background-color: white;
	max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-size: 300%;
    margin: 0;
    margin-bottom: 2%;
}

.box-one {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 2% 5%;

}

.friends_family {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.person {
    border: 0.2px solid $color-background;
    background-color: whitesmoke;
    margin: 1%;
    width: 30%;
    padding: 1%;
    box-shadow: 3px 3px 5px $color-shadow;
    border-radius: 5px;
    position: relative; 
}


.person img {
    display: block; 
    width: 100%;
    height: auto; 
}

.person p {
    text-align: center;
    font-size: 150%;
    padding: 0;
    margin: 2% auto;
}

.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $color-accent-transparent;
    border-radius: 5px;
}

//js classes
.sister {
    border: 1px solid blue;
}

.friend {
    border: 1px solid yellow;
}

.cousine {
    border: 1px solid red;
}

.person:hover .overlay { 
    opacity: 1;
}

.overlay_text { 
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay_text p {
    margin: 5% auto;
}

.overlay p:first-child {
    font-size: 2.5vw;
}


@import 'media_600';